{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /><p class="title-blog-head">Paolo Mangia</p></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"></a>
        {{/if}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}<span style="color:#ffd698">Dev</span></h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
</header>

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">
  <div class="aboutme">
      <div class="inner-aboutme">
          <figure class="author-image logoaboutme">
            {{#if @blog.logo}}<a class="blog-logo logoaboutmelink" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
          </figure>
        </div>
        <div class="socialz">
        <a class="fb" href="https://www.facebook.com/scratur"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a class="in" href="https://www.linkedin.com/in/paolo-mangia-417762125?trk=hp-identity-photo"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a class="git" href="https://github.com/paolomangiadev"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        </div>
        <h6 class="author-bio" style="color:#50585D; font-size:1.5rem;font-family: 'Roboto', sans-serif;">
        Hi, my name is Paolo, I'm a 23 years old web developer with 5 years experience in Web and Mobile applications. My blog goals are to create noob-proof content that will cover all the problems i find during my journey as a developer and "whynot?", write tutorials about Photography and Graphic Design to better fulfill the hipster side of me. One of my main purposes would be to create articles that will shed light on bad documented material that everyone face at least once during his developing path.
        </h6>
        <a href="http://paolomangiadev.com/author/paolomangia/" style="display:block; margin-top:15px;">
        <button type="button" class="buttonHome" name="button">More About Me</button>
        </a>
        <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
  </div>
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}
</main>
